
.news{
    padding: 0 0 70px 10%;
}
.newChild {
    border-bottom: 1px #e5e5e5 solid;
    text-align: center;
    padding: 40px 0px 10px 0px;
}
* {
    font-family: "Microsoft YaHei", 微软雅黑;
    margin: 0px auto;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}