.menu {
    width: 260px;
    background:'#f2f2f2'


}

.childStyle {
    /* line-height: 80px; */

}

.menuChild {
    font-size: 18px;
    color: rgb(102, 102, 102);
   
 
    
}
.menuChild:hover{
    background-color: red;
}

.layout {
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    /* top:50%; */
    left: 10%;
    padding: 0px 15% 60px 16%;
   
    

    /* transform: translate(-80%);  */
}


.ant-menu-item .menuChild{
    border-bottom: 1px solid red
}
.zylx {
    border: 1px #eeeeee solid;
    margin-top: 15px;
    box-shadow: #343434 ;
}
.lxb {
    height: 57px;
    line-height: 57px;
    padding: 0px 15px;
}
.zylx .cont {
    border-top: 1px #eee solid;
    background: #fff;
    padding: 10px 15px;
    font-size: 14px;
    color: #343434;
    line-height: 20px;
}
.lxb img {
    float: left;
    margin: 17px 10px 0px 0px;
}
.lxb h2 {
    font-size: 24px;
    color: #efb22e;
}
.zylx .cont p {
    margin: 14px 0px;
}