.menu {
    width: 260px;
    background:'#f2f2f2'


}

.childStyle {
    /* line-height: 80px; */

}

.menuChild {
    font-size: 18px;
    color: #666;
 
    
}

.layout {
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    /* top:50%; */
    left: 10%;
    padding: 0px 40px 60px 140px;
    

    /* transform: translate(-80%);  */
}


.ant-menu-item .menuChild{
    border-bottom: 1px solid red
}